.classpath
.project
.settings
*.log
nbproject/
build.xml
nbactions.xml
nb-configuration.xml
.idea
*.iml
*.xml.asc
src/main/resources/history.txt
*.orig
sonar-project.properties
*/.sonar
*/test-output
atlassian-ide-plugin.xml
*.cache
target/

#hive ignores
metastore_db/

#crossdata ignores
crossdata-scripts/spark-crossdata-distribution*