target/
.classpath
.project
.settings
nbproject/
build.xml
nbactions.xml
nb-configuration.xml
.idea
*.iml
crossdata-core/src/main/java/com/stratio/crossdata/core/grammar/generated
crossdata-shell/src/main/java/com/stratio/crossdata/sh/help/generated
src/main/resources/history.txt
*.orig
*/.cache
crossdata-core/test-output/*
sonar-project.properties
*/.sonar
*/test-output
*.log
atlassian-ide-plugin.xml
