language: scala

scala:
   - 2.10.4
   - 2.11.6
   
jdk:
  - oraclejdk8

services:
  - cassandra
  - mongodb
  - elasticsearch

script:

  - mvn test -Dmaven.test.failure=true

after_success:
  - bash <(curl -s https://codecov.io/bash)
