<?xml version="1.0" encoding="UTF-8"?>
<!--

    © 2017 Stratio Big Data Inc., Sucursal en España. All rights reserved.

    This software – including all its source code – contains proprietary information of Stratio Big Data Inc., Sucursal en España and may not be revealed, sold, transferred, modified, distributed or otherwise made available, licensed or sublicensed to third parties; nor reverse engineered, disassembled or decompiled, without express written authorization from Stratio Big Data Inc., Sucursal en España.

-->
<Configuration status="INFO">

    <Properties>
        <Property name="logLevel">INFO</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%level{length=1} %12.12c{1}} %d{HH:mm:ss} (%16.16F:%3L) - %highlight{%m}%n" />
        </Console>
    </Appenders>
    <Loggers>
        <logger name="org.apache.spark" level="WARN"/>
        <logger name="org.apache.flume.test.util.Agent" level="ERROR"/>
        <Root level="${sys:logLevel}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>