target/
src/main/java/com/stratio/meta/grammar/generated/
src/main/java/com/stratio/meta/client/help/generated/
.classpath
.project
.settings
nbproject/
build.xml
nbactions.xml
.idea
*.iml
src/main/resources/history.txt
src/main/resources/history
history.txt
history
